<template>
  <div>
    <HeaderItem/>
    <router-view/>
    <FooterItem/>
  </div>
</template>

<script>
import { mapActions, mapMutations } from 'vuex';
import HeaderItem from '@/components/HeaderItem.vue';
import FooterItem from '@/components/FooterItem.vue';

export default {
  components: { HeaderItem, FooterItem },
  created() {
    const userAccessKey = localStorage.getItem('userAccessKey');

    if (userAccessKey) {
      this.updateUserAccessKey(userAccessKey);
    }

    this.loadCart();
  },
  methods: {
    ...mapActions(['loadCart']),
    ...mapMutations(['updateUserAccessKey']),
  },
  // data() {
  //   return {
  //     currentPage: 'main',
  //     currentPageParams: {},
  //   };
  // },
  // components: { MainPage, ProductPage, NotFoundPage },
  // computed: {
  //   currentPageComponent() {
  //     return routes[this.currentPage] || 'NotFoundPage';
  //   },
  // },
  // methods: {
  //   gotoPage(pageName, pageParams) {
  //     this.currentPage = pageName;
  //     this.currentPageParams = pageParams || {};
  //   },
  // },
  // created() {
  //   eventBus.$on('gotoPage', (pageName, pageParams) => this.gotoPage(pageName, pageParams));
  // },
};
</script>
