<template>
  <li class="cart__order">
    <h3>{{ item.product.title }}
      <span v-if="item.amount > 1">({{ item.amount }})</span></h3>
    <b>{{ (item.product.price) | numberFormat }} ₽</b>
    <span>Артикул: {{ item.product.id }}</span>
  </li>
</template>
<script>
import numberFormat from '@/helpers/numberFormat';

export default {
  props: ['item'],
  filters: {
    numberFormat,
  },
};
</script>
