<template>
  <li class="cart__item product">
    <div class="product__pic">
      <img :src="item.product.img" width="120" height="120"
        :alt="item.product.title"
      >
    </div>
    <h3 class="product__title">
      {{ item.product.title }}
    </h3>
    <p class="product__info">
      Объем: <span>128GB</span>
    </p>
    <span class="product__code">
      Артикул: {{ item.product.id }}
    </span>

    <ProductCounter
      :counter-amount="this.item.amount" :product-id="this.item.productId" @amount="counterCalc"/>

    <b class="product__price">
      {{ (item.amount * item.product.price) | numberFormat }} ₽
    </b>

    <button class="product__del button-del" type="button"
      @click.prevent="deleteProduct(item.productId)"
      aria-label="Удалить товар из корзины"
    >
      <svg width="20" height="20" fill="currentColor">
        <use xlink:href="#icon-close"></use>
      </svg>
    </button>
  </li>
</template>
<script>
import { mapMutations } from 'vuex';
import numberFormat from '@/helpers/numberFormat';
import ProductCounter from '@/components/ProductCounter.vue';

export default {
  props: ['item'],
  filters: {
    numberFormat,
  },
  components: { ProductCounter },
  methods: {
    ...mapMutations({ deleteProduct: 'deleteCartProduct' }),
    deleteProduct(productId) {
      this.$store.dispatch('deleteCartProduct', { productId });
    },
    counterCalc(value) {
      if (value !== 0) {
        this.$store.dispatch('updateCartProductAmount', { productId: this.item.product.id, amount: value });
      }
    },
  },
};
</script>
