<template>
  <div class="cart__total">
    <p>Доставка: <b>500 ₽</b></p>
    <p>Итого: <b>
      {{ amount }}</b> товара на сумму
      <b>{{ price }}</b>
    </p>
  </div>
</template>
<script>

export default {
  props: ['amount', 'price'],
};
</script>
