<template>
  <li class="catalog__item">
    <router-link class="catalog__pic" href="#"
      :to="{name: 'product', params: {id: product.id}}"
    >
      <img :src="product.img" :alt="product.title">
    </router-link>

    <h3 class="catalog__title">
      <a href="#">
        {{ product.title }}
      </a>
    </h3>

    <span class="catalog__price">
      {{ product.price | numberFormat }} ₽
    </span>
    <ul class="colors colors--black">
      <li class="colors__item" v-for="color in product.colors" :key="color.id">
        <label class="colors__label">
          <input class="colors__radio sr-only" :name="product.id" type="radio"
          :value="color.id"
          v-model="colorId">
          <span class="colors__value" :style="{'background-color': color.value}">
          </span>
        </label>
      </li>
    </ul>
  </li>
</template>

<script>
import gotoPage from '@/helpers/gotoPage';
import numberFormat from '@/helpers/numberFormat';

export default {
  data() {
    return {
      colorId: 1,
    };
  },
  props: {
    product: {
      type: Object,
      required: true,
    },
  },
  filters: {
    numberFormat,
  },
  methods: {
    gotoPage,
  },
};
</script>
