<template>
  <div class="product__counter form__counter">
    <button type="button" style="cursor: pointer" aria-label="Убрать один товар"
      @click.prevent="counterCalc(amount - 1)"
    >
      <svg width="10" height="10" fill="currentColor">
        <use xlink:href="#icon-minus"></use>
      </svg>
    </button>

    <input type="number" v-model.number="amount" @input="counterInput(amount)"  name="count">

    <button type="button" style="cursor: pointer" aria-label="Добавить один товар"
      @click.prevent="counterCalc(amount + 1)"
    >
      <svg width="10" height="10" fill="currentColor">
        <use xlink:href="#icon-plus"></use>
      </svg>
    </button>
  </div>

</template>
<script>
export default {
  props: ['counterAmount', 'productId'],
  data() {
    return {
      amount: this.counterAmount ? this.counterAmount : 1,
    };
  },
  methods: {
    counterInput(value) {
      const newValue = Number.isNaN(Math.abs(value)) ? 1 : Math.abs(value);

      this.amount = newValue > 0 ? newValue : 1;
      this.$emit('amount', newValue > 0 ? newValue : 1);
    },
    counterCalc(value) {
      if (value !== 0) {
        this.amount = value;
        this.counterInput(this.amount);
      }
    },
  },
};
</script>

<style scoped>
input::-webkit-inner-spin-button {
  display: none;
}
</style>
